// color palette - these colors will be the color swatches of the Colors section

$color-1: #16052a; // dark purple
$color-2: #b51b7f; // hot pink
$color-3: #ffec74; // yellow
$color-4: #15f9fc; // aqua
$color-5: #ffffff; // white

// additional colors

$dark-color: darken($color-1, 20%); //dark, almost black, purple

$backgroud-color-gradient: linear-gradient($color-1, $color-2);
/*
$star-color: $color-3;
$heading-color: $color-4;
$type: $color-5;
$text-boxes: rgba(192,192,192,0.4); //grey with opacity
*/

//I'm not sure we need a success and alert color
// $success: #6fce72; // green
// $alert: $color-3; // red

