// links

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	font-family: lato;
	}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	color: #f9e190;
}
