.extra3 {
    width: 24vw;
    height: 24vw;
    background-color:#ffec74;
    border: solid #ffec74;
    border-radius: 12vw;
    position: fixed;
    top: -45px;
    right: -45px;
    box-shadow: -2vw -3vw darken($color: #ffec74, $amount: 27) inset;
    &:after {
        content: "";
        position: absolute;
        top: 5vw;
        right: 2.25vw;
        width: 4.75vw;
        height: 4.75vw;
        border-radius: 2.5vw;
        background-color: darken($color: #ffec74, $amount: 25);
        box-shadow: -15vw 5.5vw darken($color: #ffec74, $amount: 25),
        -3vw 11vw darken($color: #ffec74, $amount: 25)
        ;
    }
    &:before {
        content: "";
        position: absolute;
        top: 4.5vw;
        right: 11.5vw;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 0.75vw;
        background-color: darken($color: #ffec74, $amount: 25);
        box-shadow: 5vw -2vw darken($color: #ffec74, $amount: 25),
        -9vw 2vw darken($color: #ffec74, $amount: 25),
        -2.5vw 5vw darken($color: #ffec74, $amount: 25),
        7vw 7.5vw darken($color: #ffec74, $amount: 25),
        -1vw 11vw darken($color: #ffec74, $amount: 25),
        -6vw 15vw darken($color: #ffec74, $amount: 25)
        ;
    }
}